@import "tailwindcss";

@theme {
  /* Set the default font to Manrope */
  --font-sans: 'Manrope', ui-sans-serif, system-ui, sans-serif;

  /* Colors */
  --color-surface: #f8f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #424750;
  --color-outline-variant: #c2c7d1;
  --color-primary: #205e9b;
  --color-on-primary: #ffffff;
  --color-primary-container: #4077b6;
  --color-on-primary-container: #fdfcff;
  --color-secondary: #156b4d;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #a3f3cd;
  --color-on-secondary-container: #1e7153;
  --color-tertiary: #825100;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #a36700;
  --color-on-tertiary-container: #fffbff;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
}

/* Custom Icon Utilities */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif !important;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.icon-fill {
  font-variation-settings: 'FILL' 1;
}

/* Hide scrollbar for the review slider */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}